{% extends 'Myblog/base.html' %}
{% load staticfiles %}



{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<p class="date">
    Published {{ post.publish }} by {{ post.author }}
</p>
{{ post.body|linebreaks }}
<p>
    <a href="{% url 'Myblog:post_share' post.id %}">
        Share this post
    </a>

</p>
<p><a href="{% url 'Myblog:EditPost' post.id %}">edit post</a></p>
{% with comments.count as total_comments %}
<h2>
{{ total_comments }} comment{{ total_comments|pluralize }}
</h2>
{% endwith %}
<div>
    {% for comment in comments %}
    {{forloop.counter}} by {{comment.name}}
    {{ comment.created }}
    <p>{{comment.body}}</p>

    {%empty%}
        <P>Their is no commnet yet</P>
    {%endfor%}
</div>

<div>

    {% if new_comment %}

    <p>your comment added successfully</p>

    {% else %}
    <p>add new comment</p>
    <form action="." method="post">

        {{ comment_form.as_p }}
        {% csrf_token %}
        <button type="submit" >Comment</button>
    </form>
{%endif%}
</div>

{% endblock %}